@import "tailwindcss";

@theme {

  --color-neo-orange: #f84914;
  --color-neo-purple: #511684;
  --color-neo-teal: #2dbeb1;
  
  
  --color-neo-bg: #f4f4f0; 
}


body {
  background-color: var(--color-neo-bg);
  color: black;
}